.auth-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px); /* Adjusted for navbar height */
  background-color: #f2eeee;
}

.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0.5rem;
  width: 25%;
  background-color: #BCADAD;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.auth-page form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-page input,
.auth-page button {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%; /* Adjust width to fit the container */
  border-radius: 5px;
  border: 1px solid #ccc;
}

.auth-page button {
  background-color: #ff497c;
  color: white;
  cursor: pointer;
}

.auth-page button:hover {
  background-color: #37b896;
}
